body > p {
	font-size: 20px;
	font-weight: bold;
	color: blue;
}

#game-field {
	font-weight: bold;
}

.cell {
	/* tiny.cc/clr for colours */
	display: inline;
	width: 100px;
	height: 100px;
	padding: 10px;
}