body {
	/* Used to prevent text being selected */
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	background: #C4C9D4;
}

body > p {
	font-size: 20px;
	font-weight: bold;
	color: blue;
}

#header {
	font-family: 'Arimo', sans-serif;
	width: 60%;
	margin: auto;
}

#timer {
	color: #724580;
	/* font-size is scaled with JS */
}

#game-field {
	font-weight: bold;
	width: 60%;
	margin: auto;
}

.cell {
	/* tiny.cc/clr for colours */
	display: inline-block;
	/* Default but subject to change by JS */
	width: 3em;
	height: 3em;

	/* For aligning text */
	text-align: center;

	background: #6F7E9D;
	font-size: 2em;
	font-family: 'Arimo', sans-serif;
	/* Borders are added with JS to prevent overlap */
	/* border: 1px solid black; */
}

.cell:hover {
	cursor: pointer;
}

/* Allows only certain cells to change on hover */
.cell.hasHover:hover {
	opacity: 0.5;
}

.cell:active {
	opacity: 0.5;
	background: #C2A265;
}
