body {
	/* Used to prevent text being selected */
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	background: #C4C9D4;
}

body * {
	cursor: default;
}

#main-container {
}

#header {
	font-family: 'Arimo', sans-serif;
	width: 60%;
	margin: auto;
}

#timer {
	float: left;
	color: #724580;
	/* font-size is scaled with JS */
}

#mines-left {
	float: right;
	color: #724580;
	/* font-size is scaled with JS */
}

#game-field {
	clear: both;
	font-weight: bold;
	width: 60%;
	margin: auto;
}

.cell {
	/* tiny.cc/clr for colours */
	display: inline-block;
	/* Default but subject to change by JS */
	width: 3em;
	height: 3em;

	/* For aligning text */
	text-align: center;

	background: #6F7E9D;
	font-size: 2em;
	font-family: 'Arimo', sans-serif;
	/* Borders are added with JS to prevent overlap */
	/* border: 1px solid black; */
}


.cell * {
	display: inline;
}

/* If the <div>s were empty formatting would be
 * ruined. Instead, a paragraph with a blank value
 * of '-' is used and set to invisible.
 */
.cell.not-clicked p {
	visibility: hidden;
}

.cell.clicked:hover {
	cursor: default;
}

.cell.clicked {
	background: #D0D6E2;
}

/* Allows only certain cells to change on hover */
.cell.not-clicked:hover {
	cursor: pointer;
	opacity: 0.5;
}

.cell.not-clicked:active {
	opacity: 0.5;
	background: #D0D6E2;
}
